<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.song.mycontroller" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.song.mycontroller.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.song.mycontroller.HomePage"
            android:label="@string/title_activity_internet"
            android:screenOrientation="locked" >
        </activity>
        <activity
            android:name="com.example.song.mycontroller.OSC_box"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_osc_box"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.song.mycontroller.Menu_activity"
            android:label="@string/title_activity_menu_activity"
            android:screenOrientation="locked" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.song.mycontroller.Single_RC"
            android:label="@string/title_activity_single__rc" >
        </activity>
        <activity
            android:name="com.example.song.mycontroller.IbeaconTest"
            android:label="@string/title_activity_ibeacon_test" >
        </activity>

        <service
            android:name="com.example.song.mycontroller.server.BT_Server"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.example.song.mycontroller.BT"
            android:label="@string/title_activity_bt" >
        </activity>
    </application>

</manifest>
